<div class="topnav" id="myTopnav">


  <% if user_signed_in? %>
      <a class="nav-link" <%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></a>

      <a class="nav-link" <%= link_to "HOME", root_path %></a>


      <a class="nav-link" <%= link_to "COURSES", courses_path, class: 'all_courses' %></a>

      <a class="nav-link" <%= link_to "MY PROFILE", user_path(current_user.id) %></a>

      <% else %>

      <a class="nav-link" <%= link_to "SIGN IN VIA FACEBOOK", user_facebook_omniauth_authorize_path %></a>

      <a class="nav-link" <%= link_to 'SIGN UP', new_user_registration_path %></a>

      <a class="nav-link" <%= link_to 'LOGIN', new_user_session_path %></a>

<% end %>

      <a class="school" <%= link_to 'FLATIRON HIGH SCHOOL', root_path %></a>

</div>
