<!DOCTYPE html>
<html>
  <head>
    <title>Course Registration</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">

  </head>

  <body>
<%= render 'layouts/school' %>
  <%= render 'layouts/navbar' %>

    <div class="flexbox-container">
	     <div><h3>Column 1</h3></div>
	      <div><h3><%= yield %></h3></div>
      </div>
</body>
</html>
