<h2>Student Profile</h2>

  <h4><%= @student.first_name %> <%= @student.last_name %></h4>

<h4>  <% if @student.grades.nil? %>
No grades available for <%= @student.first_name %> <%= @student.last_name %>.<br>
    <%= link_to "Add Grades for #{@student.first_name}", new_student_grade_path(@student) %>
  <% else %>
  <%= link_to "View #{@student.first_name}'s Grades", student_grades_path(@student) %>
      <% end %></h4>
<br>
<h3><%= link_to "Enroll a New Student", new_student_path %><br>
<%= link_to "Back to All Students", students_path %></h3>
