<h3>View Your Courses</h3>
  <% @rosters.each do |roster| %>
<div>
<h4><%= roster.course.name %> - Section <%= roster.course.section %></h4>
    <h4><a href="#">View Course Description</a><br>
      <%= link_to "View Students in This Course", rosters_path(roster.id)%><br></h4>

  <% end %>
    <h4><%= link_to 'Register to Teach a New Course', new_course_path %><br>
  <%= link_to "Enroll a Student in a Course", rosters_enroll_path %><br>
  <%= link_to "View All Students", students_path %></h4>
  </div>
